html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.wrapper {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

.logo {
	font-family: "system-ui";
	color: rgb(41, 41, 41);
	font-size: 100%;
	font-weight: 100;
}

.logo a {
	color: rgb(41, 41, 41);
	text-decoration: none;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid rgb(220, 220, 220) 2px;
	height: 6vh;
}

.header-container {
}

.toggle-btn {
	width: 30px;
	height: 12px;
	z-index: 3;
	margin-bottom: 4px;
}

span.one {
	position: absolute;
	width: 30px;
	height: 2px;
	background: rgb(91, 91, 91);
}

span.two {
	position: absolute;
	width: 30px;
	height: 2px;
	background: rgb(91, 91, 91);
	margin-top: 8px;
}

@media screen and (max-width: 800px) {
	header {
		height: 10vh;
	}
	.logo {
		font-size: 100%;
	}
	span.one {
		width: 22px;
	}
	span.two {
		width: 22px;
	}
}

.menu {
	z-index: 2;
	position: absolute;
	background: #aaaaaa;
	height: 100vh;
	width: 100%;
	top: -100vh;
}

@media screen and (min-width: 800px) {
	.menu {
		display: none;
	}
}

.data {
	padding: 50% 0 0 15%;
	text-align: left;
}

.menu ul {
	list-style: none;
}

.menu li {
	color: rgb(255, 255, 255);
	font-size: 225%;
}

.menu a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-family: Poppins;
}

.nav-link::after {
	content: "";
	display: block;
	width: 0;
	margin-top: 5px;
	height: 2px;
	background: rgb(119, 119, 119);
	transition: width 0.3s;
}

.nav-link:hover::after {
	width: 100%;
	transition: width 0.3s;
}

.menu li a {
	display: inline-block;
}

.art-piece {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 7.5vh;
}

.art-piece-image {
	width: 50%;
}

.art-piece-desc {
	width: 47.5%;
	font-family: Poppins;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

@media screen and (max-width: 800px) {
	.desc-desc h2 {
		margin-top: 2vh;
	}
	.desc-desc p {
		margin-bottom: 3vh;
	}

	.art-piece-ctas {
		margin-bottom: 5vh;
	}
}

.art-piece-desc h2 {
	margin-bottom: 1vh;
}

.art-piece-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (max-width: 800px) {
	.art-piece {
		flex-direction: column;
	}

	.art-piece-image {
		width: 100%;
	}

	.art-piece-desc {
		width: 100%;
		padding-left: 0%;
	}

	.art-piece-ctas {
		margin-top: 2vh;
	}
}

.art-piece-button {
	margin-right: 10px;
	border: solid 2px rgb(221, 221, 221);
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	transition: 0.5s ease-in-out all;
}

body {
	font-size: 14px;
}

.art-piece-button:hover {
	border: solid 2px rgba(26, 108, 138, 0.68);
	transition: 0.5s ease-in-out all;
	cursor: pointer;
}

.art-piece-desc a {
	color: grey;
	text-decoration: none;
}

.image-left {
	padding-right: 3%;
}

.image-right {
	padding-left: 3%;
}

@media screen and (max-width: 800px) {
	.image-left {
		padding-right: 0%;
	}
	.image-right {
		display: none;
	}

	.art-piece {
		margin-bottom: 5vh;
	}
}

@media screen and (min-width: 800px) {
	.mobile {
		display: none;
	}
}

.landing {
	height: 15vh;
	width: 100%;
	align-items: center;
	text-align: center;
	color: white;
	font-family: Poppins;
	position: relative;
}

.landing-header {
	height: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	z-index: 0;
}

.landing-header h1 {
	font-size: 125%;
	background-color: white;
	color: black;
	display: inline-block;
	padding: 10px 32px 10px 32px;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;

}

.h1-container h1 {
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 3px;
}

@media screen and (max-width: 800px) {
	.landing-header h1 {
		font-size: 150%;
	}
}
.landing-header h2 {
	font-size: 110%;
}

h2 {
	font-size: 120%;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.landing-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	z-index: -1;
}

.landing-img img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}

.main-container {
	display: flex;
	justify-content: space-between;
}

.lhs {
	width: 25%;
	margin-top: 7.5vh;
}

.sidebar {
	position: fixed;
	height: 85%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sidebar-top {
	height: 40%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sidebar-logo {
	font-size: 125%;
	font-weight: 100;
	margin-bottom: 5vh;
}

.rhs {
	width: 72.5%;
	margin-top: 7.5vh;
}

.sidebar-nav {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidebar-nav ul {
	list-style: none;
	margin-bottom: 5vh;
}

.sidebar-nav ul li {
	margin-bottom: 20px;
	font-size: 105%;
}

.sidebar-nav a {
	text-decoration: none;
	color: rgb(65, 65, 65);
	display: inline-block;
}

.sidebar-secondary-nav {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.sidebar-secondary-nav ul {
	list-style: none;
}

.sidebar-secondary-nav ul li {
	margin-bottom: 20px;
	font-size: 90%;
}

.sidebar-secondary-nav a {
	text-decoration: none;
	color: rgb(150, 150, 150);
	display: inline-block;
}

@media screen and (max-width: 1100px) {
	.lhs {
		display: none;
	}

	.rhs {
		width: 100%;
	}
}

@media screen and (min-width: 1100px) {
	header {
		display: none;
	}
}

.series-desc {
	font-family: poppins;
	margin-top: 2.5vh;
	margin-bottom: 7.5vh;
	text-align: justify;
	padding-bottom: 2.5vh;
	padding-top: 2.5vh;
	border-top: 1px solid rgb(198, 198, 198);
	border-bottom: 1px solid rgb(198, 198, 198);
}

.about-desc {
	font-family: poppins;
	margin-bottom: 3vh;
	text-align: justify;
	padding-bottom: 2.5vh;
	padding-top: 2.5vh;
	border-top: 1px solid rgb(198, 198, 198);
	border-bottom: 1px solid rgb(198, 198, 198);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.about-main-content {
	border-bottom: 1px solid rgb(198, 198, 198);
	padding-bottom: 2.5vh;
}

@media screen and (max-width: 800px) {
	.about-desc {
		border-top: 0px;
		padding-top: 0;
	}

	.rhs {
		margin-top: 3vh;
	}
}

.about-main-content {
	font-family: Poppins;
}

.about-desc h2 {
	margin-bottom: 1vh;
}

.about-img {
	width: 35%;
	height: 100%;
	max-width: 350px;
}

.about-img img {
	width: 100%;
	height: 100%;
}

.about-desc-p {
	width: 60%;
}

.piece-container {
	margin-bottom: 7.5vh;
}

.piece-image {
	width: 100%;
}

.piece-image img {
	width: 100%;
	max-height: 90vh;
	object-fit: cover;
}

.piece-desc {
	font-family: Poppins;
	text-align: center;
	margin-top: 1vh;
	font-size: 90%;
}

.piece-desc .piece-date {
	font-size: 80%;
	color: grey;
	margin-top: 0.5vh;
}

.piece-desc .photo-material {
	color: rgb(26, 108, 138);
	font-size: 90%;
	font-weight: 100;
}

@media screen and (max-width: 800px) {
	.about-desc {
		flex-direction: column;
	}

	.about-img {
		width: 100%;
		margin-bottom: 5vh;
		margin-top: 5vh;
	}

	.about-desc-p {
		width: 100%;
	}
}

.back-button {
	display: flex;
	margin-bottom: 20px;
}

.back-button-a {
	text-decoration: none;
	color: rgb(92, 92, 92);
}

.back-button-icon {
	font-size: 130%;
	margin-right: 10px;
}

.back-button-text {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.progress-bar {
	height: 3px;
	background: rgb(26, 108, 138);
	width: 0%;
}
.progress-container {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 3px;
	background: rgba(14, 14, 14, 0);
}

.piece-container {
	opacity: 0;
	transform: translateY(2rem);
	transition: 1s ease-in-out;
}

.piece-container.is-visible {
	opacity: 1;
	transition: 1s ease-in-out;
	transform: translateY(0rem);
}

.about-ctas {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-family: Poppins;
	margin-top: 4vh;
}

.about-cta-container {
	width: 50%;
}

.about-cta {
	color: rgb(60, 60, 60);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	transition: 0.5s all ease;
}

.about-cta:hover {
	color: rgb(26, 108, 138);
	transition: 0.5s all ease;
}

.about-cta-container a {
	text-align: center;
	text-decoration: none;
}

.about-cta h2 {
	font-size: 100%;
}

.about-cta .icon {
	font-size: 300%;
	margin-bottom: 0.5vh;
}

.footer-inner {
	font-family: Poppins;
	font-size: 90%;
	text-align: left;
	width: 100%;
	height: 50px;
	line-height: 1.8;
}

.sidebar-footer-inner {
	font-family: Poppins;
	font-size: 80%;
	text-align: left;
	width: 100%;
	height: 50px;
	line-height: 1.8;
}

.footer-inner {
	font-family: Poppins;
	font-size: 90%;
	text-align: center;
	width: 100%;
	height: 50px;
	line-height: 1.8;
}

.content {
	min-height: calc(100vh - 70px);
}

.sidebar-footer-inner a {
	color: grey;
	text-decoration: none;
}

.footer-inner a {
	color: grey;
	text-decoration: none;
}

@media screen and (max-width: 800px) {
	.footer-inner {
		font-size: 70%;
		margin-top: 2vh;
		text-align: center;
	}
}

@media screen and (min-width: 1100px) {
	.footer-inner {
		display: none;
	}
}

.display-none {
	display: none;
}


.banner {
	width: 100%;
	display: flex;
	text-align: center;
	flex-direction: column;
	height: 4vh;
	line-height: 4vh;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color:rgb(37, 37, 37);
	font-weight: 100;
	position: fixed;
}

.banner h4 {
	font-weight: 300;
}



.full-page {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.inner-container h2,p {
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-transform: none;
	letter-spacing: 1px;
}

.inner-container h2 {
	margin-bottom: 10px;
	font-size: 22px;
}

.inner-container a {
	color: rgb(255, 0, 0);
	text-decoration: none;
}

.inner-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
}